asgiref>=3.6.0,<4
certifi==2026.6.17
coverage==7.15.0
crispy-bootstrap5==2025.6
Django==4.2.30
django-bootstrap-forms==0.1
django-crispy-forms==2.5
django-filter==24.3
flake8==7.3.0
gunicorn==26.0.0
mccabe==0.7.0
mock==5.2.0
Pillow==12.3.0
psycopg2==2.9.12
pycodestyle==2.14.0
pyflakes==3.4.0
python-dotenv==1.2.2
pytz==2026.2
selenium==4.45.0
sentry-sdk==2.64.0
sqlparse==0.5.5
urllib3==2.7.0
whitenoise==6.12.0