{% extends 'presentation/base.html' %}

{% block content %}
{% load static %}
{% if title %}
    <head>
        <title>{{ title }}</title>
    </head>
{% else %}
    <head>
        <title>L'Atelier Arts et Forme</title>
    </head>
{% endif %}
<section class="presentation-section">
    <div class="row justify-content-center">
        <div class="col-md-8 bg-light rounded pers-justified">
            <br>
            <u><h2>Informations liées au COVID-19 à l'Atelier Arts & Forme</h2></u>
            <p>
                Chers adhérents ; <br> &nbsp Même si les mesures concernant le Covid se sont « allégées » au début du mois d’août, le virus circule encore.<br>
                <br>&nbsp Je garde, en ce qui me concerne, mes habitudes de nettoyage et de désinfection des locaux ainsi que du matériel, j’applique ces mesures tous les matins, pour notre sécurité à tous. Tout comme la saison précédente, je vous conseille, dans la mesure du possible, de venir à l’atelier 10 mns avant votre cours, déjà en tenue …Plus que les chaussons ou vos baskets « de salle » à enfiler !
                <br><hr>&nbsp J’ai décidé, en ce début de saison, d’ouvrir les vestiaires, ces espaces ne sont pas très grands, évitez d’y rester trop longtemps.<br>
                &nbsp Vous trouverez sur le bar, dans la salle de danse ainsi que dans les toilettes, du gel hydro alcoolique.
                Continuons à être vigilants.
                Je vous souhaite une merveilleuse saison à l’Atelier, je reste à votre disposition pour plus de renseignements. 
                <br><hr>&nbsp&nbsp&nbsp Nadine Stefanelli Sempéré.                
            </p>
        </div>
    </div>
</section>
{% endblock content%}