{% extends 'presentation/base.html' %}

{% block content %}
{% load static %}
{% if title %}
    <head>
        <title>{{ title }}</title>
    </head>
{% else %}
    <head>
        <title>L'Atelier Arts et Forme</title>
    </head>
{% endif %}
<section class="presentation-section">
    <div class="container px-4 px-lg-5">
    
        <div class='row mt-4 justify-content-center'>
            <div class="card col-md-8 mb-lg-4">
                <div class="card-body">
                    <h5 class="card-title">Stéphanie</h5>
                    <img class="image-crop float-left" src="{% static 'assets/img/stephanie_pp.png' %}" alt="stephanie profile">
                    <h5 class="card-subtitle mb-2 text-muted">Ragga & Hip Hop</h5>
                    <p class="card-text pers-justified">Diplômée d'un CQP ALS AGEE artiste chorégraphique, chanteuse, danseuse.
                        Ma priorité : Partager. Partager mon expérience lors de cours de 1 à 1h30 ( selon la tranche d'âge). Et transmettre l'esprit d'équipe , la cohésion, la coordination, la maîtrise du rapport musique mouvement au travers de rythmes divers et variés inspirés des tendances actuelles et de mon parcours: Championnats du monde, tournage de clip,  nombreuses scènes et divers stages.
                    </p>
                </div>
            </div>
            <div class="card col-md-8 mb-lg-4">
                <div class="card-body">
                    <h5 class="card-title">Nadine</h5>
                    <img class="image-crop float-left" src="{% static 'assets/img/nadine_pp.png' %}" alt="nadine profile">
                    <h5 class="card-subtitle mb-2 text-muted">Classique, Jazz & Stretch</h5>
                    <p class="card-text pers-justified">Lorsque l’on me demandait, étant petite, « Que veux-tu faire quand tu seras grande ? », 
                        je repondais : « Je veux danser ! ». Plus tard, après mes études au conservatoire de Metz, 
                        après ma médaille d’or, me voilà professeur diplômée d’Etat !
                        Transmettre est le maître mot de ma carrière, toujours avec passion et bienveillance.
                        Depuis 15 ans, je suis la directrice de l’Atelier Arts et Forme et veille, depuis ces années, 
                        que vous vous sentiez chez nous … comme chez vous !
                        </p>
                </div>
            </div>
            <div class="card col-md-8 mb-lg-4">
                <div class="card-body">
                    <h5 class="card-title">Melissa</h5>
                    <img class="image-crop float-left" src="{% static 'assets/img/melissa_pp.png' %}" alt="melissa profile">
                    <h5 class="card-subtitle mb-2 text-muted">Zumba</h5>
                    <p class="card-text pers-justified">Je suis Melissa, Professeur à l’ Atelier Arts et Forme depuis 2012. J’y Exerce la Zumba et Le Fitness. 
                        Ayant une double carrière, je me sers de l’Energie de la Danse, de la Scène et des Voyages pour offrir à mes élèves les Cours les plus complets possible.
                        L’Energie et la Bonne Humeur sont définitivement les Maitres mots de nos Cours à L’Atelier Arts et Forme.
                        </p>
                </div>
            </div>
            <div class="card col-md-8 mb-lg-4">
                <div class="card-body">
                    <h5 class="card-title">Chloé</h5>
                    <img class="image-crop float-left" src="{% static 'assets/img/chloe_pp.png' %}" alt="sebastien profile">
                    <h5 class="card-subtitle mb-2 text-muted">Danse Contemporaine & Pilates</h5>
                    <p class="card-text pers-justified">J’ai commencé la danse à l’âge de 5 ans dans l’école de Nadine Sempéré.
                        J’ai intégré le conservatoire Darius Mihaud en 2013, puis j’ai poursuivi en
                        formation professionnelle du danseur « Orchestra Pro » en 2018. Pour intégrer la compagnie Corporis à l’âge de 21ans.
                        En 2022, j’intègre la compagnie Co-Incidanse. Aujourd’hui ma carrière et mon imaginaire chorégraphique se
                        nourrissent de rencontres diverses. Ayant obtenu l’Examen d’Aptitude Technique depuis 2020, je souhaite évoluer dans
                        la transmission en ayant la conviction que la danse est un art, une passion possible pour toutes et tous quels que soient le niveau,
                        l’âge ou la capacité motrice avec du travail.

                    </p>
                </div>
            </div>
            <div class="card col-md-8 mb-lg-4">
                <div class="card-body">
                    <h5 class="card-title">Nathalie</h5>
                    <img class="image-crop float-left" src="{% static 'assets/img/nathalie_pp.png' %}" alt="nathalie profile">
                    <h5 class="card-subtitle mb-2 text-muted">Danse Orientale & Bollywood</h5>
                    <p class="card-text pers-justified">
                        J’ai d’abord étudié la musique 
                        au conservatoire et à la faculté, le piano, le saxophone, les percussions et titulaire d’une 
                        maîtrise en musicologie, j'ai rédigé un mémoire sur les danses et musiques orientales. En parallèle 
                        de mes études musicales, je découvre la danse orientale en 1996. Quelque temps après, je décide de 
                        suivre des cours réguliers auprès des maîtres en région PACA et divers stages en France et à 
                        l’international. Je crée la compagnie Al Sharkiat en 2005. Compagnie composée de plusieurs danseuses 
                        et qui se produisent en spectacle pour diverses manifestations culturelles festivals, soirées etc.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content%}