{% extends 'presentation/base.html' %}

{% block content %}
{% load static %}
{% if title %}
    <head>
        <title>{{ title }}</title>
    </head>
{% else %}
    <head>
        <title>L'Atelier Arts et Forme</title>
    </head>
{% endif %}
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Arts et Forme</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Ecole de danse et salle de sport à Peypin.</h2>
                <a class="btn btn-primary" href="#about">En Savoir Plus.</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4" id="about">Arts et forme en quelques mots :</h2>
                <p class="text-white-50">
                    Depuis 18 ans, L’Atelier Arts et Forme vous accueille dans un endroit chaleureux et convivial, pour des cours de danse, de fitness ... <br>
                    Nous sommes tous diplômés et formés pour vous offrir une qualité de cours indéniable. 
                    Toujours à votre écoute, nous prendrons soin de vous et de vos enfants avec bienveillance et bonne humeur !
                </p>
            </div>
        </div>
        <img class="img-fluid" src="{% static 'assets/img/nadine.png' %}" alt="" />
    </div>
</section>
<!-- Activities -->
<section class="projects-section bg-light">
    <div class="container px-4 px-lg-5">
        <!-- Activities One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center" id="projects">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/jazz.jpg' %}" alt="image danse jazz" /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Jazz</h4>
                            <p class="mb-0 center-justified text-white-50">
                                Cette discipline est un mélange de danse classique, de danse contemporaine et d’expression corporelle. 
                                C’est une danse ou toutes les parties du corps entrent en jeu, les hanches, la poitrine, le ventre, 
                                « travaillent » tout autant que les jambes. Ces cours me laissent une totale liberté pour la création 
                                chorégraphique, sans pour autant, oublier la technique et les « phrases » de la danse. 
                                De là, à partir sur les comédies musicales et le cabaret...il n’y a qu’un pas ! 
                                Mes cours de jazz s’adressent aux enfants dés 6 ans, jusqu’aux adultes.</p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Activities Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/classique.jpg' %}" alt="image danse classique" /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Danse Classique</h4>
                            <p class="mb-0 center-justified text-white-50">La danse classique est rigoureuse et formatrice. 
                                Elle est fortement conseillée à tous les danseurs, qu’ils se dirigent vers une carrière classique ou autre. 
                                La danse classique est le B.A.BA de la danse, comme le solfège pour la musique. 
                                Même si le véritable apprentissage est conseillé à partir de 8 ans, nos plus jeunes « petits » 
                                rats s’ouvrent très tôt à la grâce et à la musique classique.</p>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Activities One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/ragga_hiphop.jpg' %}" alt="image ragga / hip-hop" /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Ragga Hip hop</h4>
                            <p class="mb-0 center-justified text-white-50">
                                Le ragga dancehall, raggamuffin, est la variante la plus populaire du dancehall en Jamaïque actuellement. Il s'agit de deejays posant sur des rythmes agressifs, c'est-à-dire plus rapides que le reggae. Fusionné au hip hop chez Arts et Forme vous pourrez :
                                
                                <br>
                                - Bouger sur des rythmes afros, latinos, américains
                                <br>
                                - Apprendre et gérer les mouvements articulaires.
                                <br>
                                 - Maîtriser les isolations du corps. 
                                 <br> 
                                - Jouer avec les styles.
                                <br>
                                - Révéler votre personnalité.</p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Activities Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/zumba.jpg' %}" alt="image zumba" /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Zumba & Zumba Kids</h4>
                            <p class="mb-0 center-justified text-white-50"><strong>La Zumba</strong> est un programme d’entrainement physique complet alliant la remise en Forme (cardio et préparation musculaire) et chorégraphies de tous styles.
                                l’essayer c’est L’adopter !
                                La<strong> Zumba kids</strong> est une Activité Physique comportant des mouvements adaptés aux enfants et Basés sur les chorégraphies  Zumba.
                                Le Cours est Composé de Danse, de Jeux et des Clés essentielles au développement de l’enfant, comme l’estime de Soi, La mémoire et la créativité.
                                C’est simple…. les jeunes danseurs Adorent.
                                </p>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/contemporain.jpg' %}" alt="image contemporain" /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Contemporain</h4>
                            <p class="mb-0 center-justified text-white-50">
                                Le contemporain est une danse qui s’inspire et se nourrit de nombreux styles et courants artistiques. Ses mouvements puisent l’utilisation de la gravité et du poids du corps tout en conservant de la légèreté et de la fluidité. À travers ces cours vous découvrirez votre créativité, votre liberté d’expression sans oublier l’aspect technique. N’oubliez pas « La danse est une expression de soi ».
                            </p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Activities Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/street_jazz.jpg' %}" alt="image street jazz" /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Street Jazz</h4>
                            <p class="mb-0 center-justified text-white-50">
                                Le street jazz est un style de danse qui a émergé aux États-Unis dans les années 1990.
                                Il est considéré comme une fusion de la danse modern jazz classique et de la danse hip-hop,
                                en incorporant des éléments de danse contemporaine et de funk.
                                Il est decrit comme un style de danse plus libre et plus expressif que le jazz classique, 
                                en donnant plus d'importance à l'interprétation personnelle et à la créativité.
                            </p>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Activities One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/stretch.jpg' %}" alt="image stretch" /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Stretch</h4>
                            <p class="mb-0 center-justified text-white-50">
                                Cours d’assouplissement et d’étirements, le stretching est une « gym douce ». 
                                Ce cours est idéal pour toute personne qui veut reprendre le sport en douceur, 
                                Il offre la possibilité de travailler en étirements aussi bien qu’en musculation. 
                                Procure également de la détente et facilite la concentration.
                                A découvrir absolument !
                            </p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Activities Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/abdos.jpg' %}" alt="image abdos fessiers" /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Abdos Fessiers</h4>
                            <p class="mb-0 center-justified text-white-50">
                                Je devrais plutôt vous expliquer un cours de CAF : Cuisses, abdos, fessiers. 
                                Ce cours est concentré sur le renforcement musculaire du bas du corps. 
                                Travail approfondi de la ceinture abdominale (ventre et taille), des fessiers 
                                (petits, moyens et grands) et pour finir, les jambes (quadriceps, adducteurs).
                                Ce cours a pour but de renforcer, fuseler et tonifier votre corps. 
                                Discipline ouverte à tous, progression à votre rythme.
                                Dans la bonne humeur, évidemment ! 
                            </p>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Activities One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/pilates_25.jpg' %}" alt="image pilates (dall-e)" /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Pilates</h4>
                            <p class="mb-0 center-justified text-white-50">
                                Développé par M. Joseph Pilates, le pilates est une méthode qui sculpte la silhouette
                                en renforçant les muscles profonds. Les séances suivent un enchaînement d’exercices
                                rythmés par la respiration qui permet de stabiliser et d’augmenter la force. Le pilates
                                s’adresse à tout public, que nous soyez sportif ou non, souple ou non, cette méthode
                                s’adaptera toujours pour vous. </p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
