{% extends 'presentation/base.html' %}

{% block content %}
{% load static %}
{% if title %}
    <head>
        <title>{{ title }}</title>
    </head>
{% else %}
    <head>
        <title>L'Atelier Arts et Forme</title>
    </head>
{% endif %}
<section class="presentation-section">
    <div class="row justify-content-center">
        <div class="col-md-8 bg-light rounded pers-justified">
            <br>
            <u><h3>Vous trouverez ci dessous les plannings et tarifs de la saison 2023 - 2024</h3></u>
            <p>
                Ces documents sont disponibles au format PDF sur <a href="{% url 'documents' %}">la Page de Telechargement</a>.              
            </p>
        </div>
        <!-- planning -->
        <div class="col-md-8">
            <div class="embed-responsive">
                <img class="img-fluid rounded" src="{% static 'assets/img/planning_aef_23_24.jpg' %}" type='application/pdf' width="100%" height="500px"></img>
            </div>
        </div>
        <!-- tarifs -->
        <br>
        <hr>
        <br>
        <div class="col-md-8">
            <div class="embed-responsive">
                <img class="img-fluid rounded" src="{% static 'assets/img/tarifs_aef_23_24_jpg.jpg' %}" width="100%" height="500px"></img>
            </div>
        </div>
    </div>
</section>
{% endblock content%}