{% extends 'presentation/base.html' %}

{% block content %}
{% load static %}
{% if title %}
    <head>
        <title>{{ title }}</title>
    </head>
{% else %}
    <head>
        <title>L'Atelier Arts et Forme</title>
    </head>
{% endif %}
<section class="presentation-section">
    <div class="row justify-content-center">
        <div class="col-md-8 bg-light rounded pers-justified">
            <u><h2>Stages</h2></u>
            <h5>Le calendrier des stages sera mis en ligne sous peu, pensez bien à vous inscrire aux notifications mail pour l'apprendre directement</h5>          
            Tout au long de l’année, nous allons vous proposer des stages, sous forme de demi journées ou journées.
            <br>
            <hr>
            <strong><u>Au programme :</u></strong>
            Comédie musicale, un samedi par mois, en compagnie de Mélissa et de Nadine. Travail d’un même thème tout au long de l’année, qui sera présenté à notre spectacle de fin d’année.
            Danse contemporaine, zumba, fitness, danse classique, jazz, orientale ... à venir.
            <br>
            <hr>
            Nous souhaitons tout d’abord, « installer » nos cours en semaine : Il est vrai que, nous avons des fourmis dans les jambes, après ces confinements ! 
            Prendre le temps de bien vous connaître, de bien vous retrouver aussi, et vous proposer, dans les prochaines semaines, des stages qui vous correspondent au mieux. 

            </p>
        </div>
    </div>
</section>
{% endblock content%}